<h3>{{ title }}</h3>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <label>Add recipe Image</label>
    <input type="image" />
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <label>Recipe name:</label>
    <input type="text" />
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="btn-group">
      <button type="button" class="btn btn-success">
        Save
      </button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <!-- {{ currentRecipe.description }} -->
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <ul class="list-group"></ul>
  </div>
</div>
